.jteasylink .level1 {
	margin-top: 40px;
}
.jteasylink .level2,
.jteasylink .level3,
.jteasylink .level4 {
	margin: 20px 0 0 20px;
}
.jteasylink .linkext {
	margin: 0 2px -1px;
	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4wMYFgUSGGyc4wAAAFZJREFUKM+dkcENwDAIAw3KvF0BeYYO3L6QosghtPe1A8axiHiwQNIAQGmOgnw4MypRUW74FGkx35nAO5NJXhnbG2aTR5/MqfnOsGttdLqfMVXd739QvHV2KCXVzZ+wAAAAAElFTkSuQmCC");
}
.jteasylink .linkint {
	margin: 0 2px -1px;
	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4wMYFgYs8iDSiwAAAGBJREFUKM+NkdENACEIQy3nqDBV53MO7ovkJKDXP+oLFIS7j0pmtj2QBCo4gyEZB5EESUQ9O6jy5y3n15O/IElIBiNC5T1rLe+65fxQVT8tdTydmXl353n7iK1zNb6L9AIvxj+UBZHaGQAAAABJRU5ErkJggg==");
}
